.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.75);
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.header-container{
    display: flex;
    justify-content: center;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo{
    overflow: hidden;
    position: relative;
    z-index: 3;
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header__menu{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__list{
    display: flex;
    position: relative;
    z-index: 2;
    list-style: none;
    align-items: center;
}

.header__list li{
    list-style: none;
    margin: 0px 0px 0px 10px;
}

.header__link,.dropdown,.dropbtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.login{
    padding: 8px 25px;
    margin-left: 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 2px solid #5c9f24;
    background: rgba(0, 0, 0, 0.75);
}

.header__list>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #5c9f24;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
    z-index: 999;
}

.header__list a:hover:before, .header__list li:hover>a:before, .header__list:before {
    visibility: visible;
    width: 100%;
    
}

/* Header burger*/

.header__burger{
    display: none;
}

@media(max-width:767px){
    .header__body{
        height: 50px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active:before{
        transform:rotate(45deg);
        top: 9px
    }

    .header__burger.active span{
        transform: scale(0);
    }

    .header__burger.active:after{
        transform:rotate(-45deg);
        bottom: 9px;
    }
    .header__menu{
     position: fixed;   
     top: -100%;
     right: 0px;
     width: 150px;
     height: 400px;
     background: rgba(0, 0, 0, 0.75);
     padding: 70px 15px 20px 15px;
     transition: all 0.3s ease 0.3s;
     color: #f1f1f1;
    }

    .header__menu.active{
        top:0;
        transition: all 0.3s ease 0.3s;
    }

    .header__list{
        display: block;
    }
    .header__list li{
        margin: 0px 0px 20px 0px;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #4caf4f00;
    border: none;
    z-index: 2;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    top:-2px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {background-color:#5c9f24;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e4100;}