* {
   box-sizing: border-box;
      &::before,
      &::after {
         box-sizing: border-box;
      }
      &:focus:not(:focus-visible) {
         outline: none;
      }
}
html,
body {
   font-family: $font-main;
   color: $color-text;
   font-weight: normal;
   background-color: $color-body;
}
body {
   display: flex;
   flex-direction: column;
}
section, main, footer, header, article {
   display: flex;
   font-size: 1.8rem;
}
ul {
   padding-left: 0;
   margin: 0;

   li {
      list-style: none;
      cursor: default;
   }
}
h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 0;
   margin: 0;
}
h1 {
   color: $color-primary;
}
a {
   text-decoration: none;
   color: $color-primary;
}
button, input {
   outline: none;
   border: none;
   cursor: pointer;
   border-radius: .3rem;
}

.container {
   width: 90%;
   margin: 0 auto;
}

.button {
   box-shadow: 0 0 1rem rgb(0 0 0 / 35%), 0 0.1rem 0.3rem rgb(0 0 0 / 18%), inset 0 -0.3rem 0 rgb(0 0 0 / 35%), inset 0 1.4rem 1.4rem rgb(255 255 255 / 10%);
   background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
   padding: .8rem;
   background-color: #e5955c;
   color: #ffffff;
   transition: all .3s;
   width: 11rem;

   &:hover:not([disabled]) {
      filter: drop-shadow(.2rem .4rem .6rem black);
   }
   &:active:not([disabled]) {
      filter: none;
      opacity: .7;
   }
   &:disabled {
      opacity: .6;
      cursor: default;
   }
}
.auth__buttons {
   display: flex;
   gap: 1.2rem;
}
.btn-out {
   display: none;
}
.header {
   &__wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3rem;
      box-shadow: 0px 1px 0 0 #d2d0cc;
   }
   &__link {
      cursor: pointer;

      &:hover h1{
         color: #ffffff;
      }
   }
}

.footer {

   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3rem;
      width: 100%;
      height: 100%;
      box-shadow: 0 -1px 0 0 #d2d0cc;
      color: $color-primary;
      font-weight: 500;
      cursor: default;
      margin-top: 5rem;
   }

   &__teams {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
   }
}
.link, .icon {
   height: 5rem;
   display: inline-block;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0.6;
}
.link:hover {
   opacity: 1;
}
.rs-link {
   width: 10rem;
   background-image: url(../assets/img/RSSchool.svg);
}
.github-icon {
   width: 5rem;
   background-image: url(../assets/img/github.svg);
   margin-right: 1rem;
}

@media (max-width: 768px) {
   .footer__wrap {
      gap: 2rem;
      flex-direction: column;
   }
}

.go-to-btn {
   font-size: 4rem;
}