.game__container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-image: url(../assets/img/bg-game.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 16rem);
  cursor: default;
  color: #4e4e4e;
  gap: 2.2rem;

  @media screen and (max-width: 768px) {
    top: $header-height-min;
    min-height: calc(100vh - 13rem);
  }

  .wrapper {
    background-color: rgb(243 243 243 / 85%);
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem 0.4rem rgb(68 68 68 / 25%);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .instruction {
    font-size: 2.2rem;
    transform: translateY(-20%);

    &__controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
      font-size: 1.8rem;
      padding-top: 1rem;
    }

    h2 {
      color: rgba(3, 63, 95, 0.82);
      font-size: 2.6rem;
      text-align: center;
    }

    .level--show {
      justify-content: space-between;
    }
  }

  .ways-control {
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .ways-control__options {
    padding-left: 2.1rem;
    font-size: 2rem;

    li {
      list-style: initial;
    }
  }

  .game__counter {
    font-size: 3.6rem;
    font-weight: 700;
    color: rgba(3, 63, 95, 0.82);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    filter: drop-shadow(0 0 0.5rem white);
  }

  .game__timer {
    font-size: 4rem;
  }

  .game-card {
    min-height: 40rem;
    min-width: 40rem;
    font-size: 2.4rem;
    align-items: center;
    justify-content: space-between;
  }

  .game-card__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    box-shadow: 0 -1px 0 0 #919191;
    padding-top: 1.2rem;
    width: 100%;
  }

  .card--right {
    box-shadow: 0 0 .1rem .2rem #00f7d2;
    transition: all 0.3s;
  }

  .card--wrong {
    box-shadow: 0 0 .1rem .2rem #c53107;
    transition: all .3s;
  }

  .voice-call {
    flex-wrap: wrap;

    &__btn {
      min-width: 40%;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      align-content: center;

      .game-card__btn {
        width: 80%;
      }
    }
  }
}

.points {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.guessed-words {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 0.7rem;

  &__item {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-color: #bfbfbf;
  }

  .item--active {
    background-color: #1c97d9;
    transition: all 0.3s;
  }
}

.game-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  flex-grow: 1;
}
.level {
  display: flex;
  align-items: center;
  gap: 1rem;

  label {
    font-weight: 600;
  }

  select {
    border-radius: 0.3rem;
    width: 6rem;
  }

  option {
    cursor: pointer;
  }
}

.game-card__btn {
  background-color: #1c97d9;
  font-size: 1.8rem;
}

.game-card__btn_true {
  background-color: #41783f;
}

.game-card__btn_false {
  background-color: #c70026;
}

.result-page {
  align-items: center;
  margin-top: 2rem;

  ol {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0.5rem;
    list-style-position: inside;
    padding: 0;
    margin: 0;
  }

  h2 {
    color: rgba(3, 63, 95, 0.82);
    font-size: 2.4rem;
  }

  .answers {
    display: flex;
    gap: 5rem;
    padding: 0 2rem;
    align-items: flex-start;
    height: 24.5rem;
    overflow: auto;
    margin: 1rem 0 3rem;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 0 2rem 0 0;
      gap: 3rem;
    }

    &::-webkit-scrollbar {
      width: 1.2rem;
      background-color: #f9f9fd;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1c97d9;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
      background-color: #f9f9fd;
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;
      padding-right: 2rem;
      font-weight: 600;
    }
    h3 {
      font-size: 2.1rem;
      color: #7c7c7c;
    }
  }

  .game-card__btn {
    width: 40%;

    @media (max-width: 768px) {
      width: 70%;
    }
  }
}

.correct-answers {
  &__list {
    li::marker {
      color: #41783f;
    }
  }

  h3 {
    span {
      color: #41783f;
    }
  }
}

.wrong-answers {
  &__list {
    li::marker {
      color: #c70026;
    }
  }

  h3 {
    span {
      color: #c70026;
    }
  }
}
