.textbook-nav {
  display: flex;
  flex-direction: row;
  font-family: $font-main;
  font-size: 3rem;
  letter-spacing: 0.05rem;
  padding-bottom: 30px;

  .textbook-nav__btn {
    display: inline-flex;
    width: calc(100% / 7);
    padding: 10px;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: white;
      opacity: 90%;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
  }

  .active {
    font-weight: 700;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .beginner {
    background-color: red;
  }

  .pre-intermediate {
    background-color: orange;
  }

  .intermediate {
    background-color: yellow;
  }

  .upper-intermediate {
    background-color: rgb(21, 161, 21);
  }

  .advanced {
    background-color: rgb(24, 190, 231);
  }

  .proficient {
    background-color: blue;
  }

  .hard {
    background-color: rgb(192, 15, 192);
  }
}

.dictionary {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;

  .dictionary__card {
    padding: 10px;
    background-color: rgb(248, 242, 234);
    border-radius: 10px;

    &:hover {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
  }

  .dictionary__card_beginner {
    background-color: rgba(245, 189, 189, 0.274);
  }

  .dictionary__card_pre-intermediate {
    background-color: rgba(246, 225, 131, 0.274);
  }

  .dictionary__card_intermediate {
    background-color: rgba(245, 245, 147, 0.274);
  }

  .dictionary__card_upper-intermediate {
    background-color: rgba(150, 243, 158, 0.274);
  }

  .dictionary__card_advanced {
    background-color: rgba(147, 234, 245, 0.274);
  }

  .dictionary__card_proficient {
    background-color: rgba(147, 149, 245, 0.274);
  }

  .dictionary__card_hard {
    background-color: rgba(222, 147, 245, 0.274);
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;

  .pagination__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 2.5rem;
  }

  .active {
    background-color: #545f55fa;
    color: white;
  }

  .disabled {
    background-color: rgb(216, 205, 205);
  }

}