.footer{
    height: 100%;
    background: rgba(0, 0, 0);
    color: aliceblue;
    height: 80px;
}

.footer__rsshool_img{
    background-image: url(../../../../assets/img/img/rs_school.jpg);
    width: 150px;
    height: 75px;
    background-size: 100%;
}

.gitHub{
    color: aliceblue;
    padding: 2px;
}

.footer__body{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    min-height: 70px;
    align-items: center;
    
}

.footer__list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts__title{
    margin-right: 10px;
}

.footer__link{
    margin-left: 20px;
}

.footer__list li{
    list-style-type:none;
 
}

a{
    text-decoration: none;
}