$color-primary: #d5d5d5;
$color-header: rgba(0, 0, 0, 0.87);
$color-text: #000000;
$color-light: #ffffff;
$color-body: #ffffff;
$color-border: #e6e6e6;
$color-hover: #fc8507;

$color-unit-a1: red;
$color-unit-a2: orange;
$color-unit-b1: yellow;
$color-unit-b2: rgb(21, 161, 21);
$color-unit-c1: rgb(24, 190, 231);
$color-unit-c2: blue;
$color-unit-hard: rgb(192, 15, 192);

$font-main: 'Roboto', sans-serif;
$shadow-card: 0 0 0 0 rgb(227 228 230 / 0%);

$header-height-normal: 80px;
$header-height-min: 50px;
