/*html,
body {
  font-size: 62.5%;
}*/
@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}
@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}
@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}
@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
*:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: normal;
  background-color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
}

/*section, main, footer, header, article {
   display: flex;
   font-size: 1.8rem;
}*/
ul {
  padding-left: 0;
  margin: 0;
}
ul li {
  list-style: none;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  color: #d5d5d5;
}

a {
  text-decoration: none;
  color: #d5d5d5;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.button {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.18), inset 0 -0.3rem 0 rgba(0, 0, 0, 0.35), inset 0 1.4rem 1.4rem rgba(255, 255, 255, 0.1);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  padding: 0.8rem;
  background-color: #e5955c;
  color: #ffffff;
  transition: all 0.3s;
  width: 11rem;
}
.button:hover:not([disabled]) {
  filter: drop-shadow(0.2rem 0.4rem 0.6rem black);
}
.button:active:not([disabled]) {
  filter: none;
  opacity: 0.7;
}
.button:disabled {
  opacity: 0.6;
  cursor: default;
}

.auth__buttons {
  display: flex;
  gap: 1.2rem;
}

.btn-out {
  display: none;
}

.header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  box-shadow: 0px 1px 0 0 #d2d0cc;
}
.header__link {
  cursor: pointer;
}
.header__link:hover h1 {
  color: #ffffff;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 -1px 0 0 #d2d0cc;
  color: #d5d5d5;
  font-weight: 500;
  cursor: default;
  margin-top: 5rem;
}
.footer__teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.link, .icon {
  height: 5rem;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.link:hover {
  opacity: 1;
}

.rs-link {
  width: 10rem;
  background-image: url(../assets/img/RSSchool.svg);
}

.github-icon {
  width: 5rem;
  background-image: url(../assets/img/github.svg);
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .footer__wrap {
    gap: 2rem;
    flex-direction: column;
  }
}
.go-to-btn {
  font-size: 4rem;
}

.dictionary {
  display: flex;
  font-size: 1.8rem;
  min-height: calc(100vh - 26.5rem);
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin: 5rem auto;
  font-size: 1.6rem;
  width: 100%;
}

.word {
  display: flex;
  background-color: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  box-shadow: 0 0 1.5rem 0.4rem rgba(68, 68, 68, 0.25);
  width: 100%;
  gap: 1rem;
}
.word--hard {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0.1));
}
.word--study {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 225, 0, 0.1));
}
.word__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 34rem;
}
.word__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% - 34rem);
  padding: 2rem;
}
.word__header {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.word__subtitle {
  opacity: 0.5;
}
.word__play {
  display: block;
  height: 5rem;
  width: 5rem;
  background-image: url(../assets/img/speaker.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.word__description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
}
.word__description p {
  margin: 0;
  padding-bottom: 0.5rem;
}
.word__description p:not(:first-child) {
  opacity: 0.6;
}
.word__buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1rem;
  font-size: 1.6rem;
  transition: transform 0.2s;
}
.word__buttons .button {
  width: 20rem;
  height: 4rem;
  font-weight: 500;
}
.word__buttons .btn-simple {
  width: 100%;
  background-color: #00c7ba;
  margin-top: 1rem;
}

.btn-diff:disabled {
  background-color: #c70026;
}

.btn-study:disabled {
  background-color: #07c900;
}

.word__play:hover {
  opacity: 0.4;
  filter: drop-shadow(0.2rem 0.4rem 0.6rem gray);
}

.word__play:active {
  opacity: 1;
}

.play--active {
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    filter: drop-shadow(0 0 0 gray);
  }
  70% {
    filter: drop-shadow(0 0 0.6rem gray);
  }
  100% {
    filter: drop-shadow(0 0 1.2rem black);
  }
}
@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 1.2rem black);
  }
  70% {
    filter: drop-shadow(0 0 0.6rem gray);
  }
  100% {
    filter: drop-shadow(0 0 0 gray);
  }
}
@media (max-width: 768px) {
  .word {
    flex-direction: column;
  }
  .word__img {
    height: 30rem;
    width: 100%;
  }
  .word__content {
    width: 100%;
    padding: 3rem;
  }
  .word__buttons {
    justify-content: space-between;
  }
}
.textbook {
  position: relative;
  top: 80px;
  padding: 5rem;
}
@media (max-width: 767px) {
  .textbook {
    top: 50px;
  }
}

.textbook-nav {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.05rem;
  padding-bottom: 30px;
}
.textbook-nav .textbook-nav__btn {
  display: inline-flex;
  width: 14.2857142857%;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
}
@media (max-width: 767px) {
  .textbook-nav .textbook-nav__btn {
    font-size: 2rem;
  }
}
.textbook-nav .textbook-nav__btn:hover {
  color: white;
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.textbook-nav .active {
  font-weight: 700;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.dictionary {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
}
.dictionary .dictionary__card {
  padding: 10px;
  background-color: rgb(248, 242, 234);
  border-radius: 10px;
}
.dictionary .dictionary__card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.dictionary .dictionary__card_beginner {
  background-color: rgba(245, 189, 189, 0.274);
}
.dictionary .dictionary__card_pre-intermediate {
  background-color: rgba(246, 225, 131, 0.274);
}
.dictionary .dictionary__card_intermediate {
  background-color: rgba(245, 245, 147, 0.274);
}
.dictionary .dictionary__card_upper-intermediate {
  background-color: rgba(150, 243, 158, 0.274);
}
.dictionary .dictionary__card_advanced {
  background-color: rgba(147, 234, 245, 0.274);
}
.dictionary .dictionary__card_proficient {
  background-color: rgba(147, 149, 245, 0.274);
}
.dictionary .dictionary__card_hard {
  background-color: rgba(222, 147, 245, 0.274);
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  padding-bottom: 6rem;
}
@media screen and (max-width: 767px) {
  .pagination {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
}
.pagination .pagination__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
  font-size: 2.5rem;
  clear: both;
}
@media screen and (max-width: 767px) {
  .pagination .pagination__item {
    width: 60px;
    font-size: 2rem;
  }
}
.pagination .active {
  color: white;
  font-weight: 700;
}
.pagination .disabled {
  background-color: white;
  color: rgba(144, 161, 146, 0.9803921569);
  cursor: auto;
}

.beginner {
  background-color: red;
}

.pre-intermediate {
  background-color: orange;
}

.intermediate {
  background-color: yellow;
}

.upper-intermediate {
  background-color: rgb(21, 161, 21);
}

.advanced {
  background-color: rgb(24, 190, 231);
}

.proficient {
  background-color: blue;
}

.hard {
  background-color: rgb(192, 15, 192);
}/*# sourceMappingURL=main.css.map */